node_modules
# --------------- Local tests -------------------
## Js
a.js
b.cjs
## TS
aa.ts 
bb.ts
b.ts
a.ts
## textile
a.textile
b.textile
## json
aa.json
bb.json
## html
aa.html
bb.html
# ---------------------- Build dirs ------------------
dist
docs
.tshy
# ----------------------- Local Notes ---------------
textile
note.md